form{
    .assessment-form,.agent-form,.cbo-form{
        padding: 1rem;
        input {
            margin-top: 1rem;
            height: 50px;
            background: rgb(253, 253, 255);
            border: 0;
            border-bottom: greenyellow 2px solid;
            font-size: 1.1rem;
        }
        .main-label{
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: green;
            margin-bottom: 1rem;
        }
        .top-details,.center-details,.bottom-details {
            justify-content: space-between;
            margin-bottom: 3rem;
            .group{
                input{
                    margin-right:1rem;
                }
            }
        }

        .bottom-details{
            .logo-section{
                position: relative;
                overflow: hidden;
                height: 350px;
                cursor: pointer;
                border-radius: 10px;
                input{
                    position: absolute;
                    top:-20px;
                    left:0;
                    height: 100%;
                    width: 100%
                }
                i{
                    position: absolute;
                    z-index: 100;
                    top:20%;
                    font-size: 3rem;
                    color: rgba(255, 255, 255, 0.671);
                    margin-bottom: 1rem;
                }
            }

            textarea{
                border: 2px solid greenyellow;
                padding: 2px;
                height: 200px !important;
                width:90%;
            }
        }
    }

    .buttons{
        margin-bottom: 3rem;
        height: 50px;
        padding-left: 1%;
        justify-content: space-between;
        button,a{
            width:40%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.9s ease-out;
        }
        button{
            background: linear-gradient(45deg,green ,rgb(96, 160, 96));
            border: 0;
            color:#fff;
            &:hover{
                background: green;
                transform: scale(1.1);
            }
        }
        a{
            background: linear-gradient(45deg,rgb(192, 77, 77),red);
            &:hover {
                    background: red;
                    transform: scale(1.1);
                }
        }
    }

    .agent-form{
        .bottom-details{
            .password-fields{
                input{
                    width:80%;
                }
            }
        }
    }

    .assessment-form{
        .wrapper{
            width: 370px;
            margin: 130px auto 0;
            .select-btn{
                height: 65px;
                font-size: 22px;                
                padding: 0 20px;
                border-radius: 30px;
                justify-content: space-between;
                i{
                    font-size: 2rem;
                    transition: transform 0.35s linear;
                }
            }

            .content{
                display: none;
                padding: 20px;
                margin-top: 1rem;
                border-radius: 30px;

                .search{
                    position: relative;
                    input{
                        height: 53px;
                        width: 100%;
                        font-size: 17px;
                        padding: 0 15px 0 43px;
                        border-radius: 10px;
                        border: 1px solid rgb(121, 115, 115);
                    }
                    i{
                        position: absolute;
                        line-height: 83px;
                        left: 15px;
                        color: rgb(121, 115, 115);
                        font-size: 20px;
                    }
                }

                .options{
                    margin-top: 10px;
                    max-height: 250px;
                    overflow-y: auto;
                    li{
                        height:50px;
                        width: 95%;
                        border-radius: 5px;
                        margin: 0.8rem 0;
                        cursor: pointer;
                        padding: 8px 13px 0 13px;
                        font-size: 21px;
                        &:hover{
                            color: #fff;
                            background: linear-gradient(45deg, rgba(13, 201, 13, 0.726), rgb(68, 110, 5));
                        }
                        &.selected{
                            background: linear-gradient(45deg, rgba(13, 201, 13, 0.726), rgb(68, 110, 5)) !important;
                            color: #fff;
                            font-weight: 600;
                        }
                    }
                    &::-webkit-scrollbar{width:7px;}
                    &::-webkit-scrollbar-track{
                        background: rgba(100, 247, 2, 0.288);
                        border-radius: 30px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background: linear-gradient(45deg, green, greenyellow);
                        border-radius: 30px;
                    }
                }
            }

            &.active{
                .content{
                    display: block;
                }
                .select-btn i{
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.avatarCover{
    width:100%;
    height: 200px;
    aspect-ratio: 0.8;
}
.filepond--root{
    font-family: 'Courier New', Courier, monospace;
    width: 100% !important;
    margin: 0;
    cursor: pointer;
}

.filepond--panel-root{
    background: linear-gradient(45deg,rgba(0, 128, 0, 0.596),greenyellow);
    cursor: pointer;
    width: 100% !important;
}

.filepond--drop-label{
    color: #fff;
    margin-top: 20%;
    font-weight: 900 !important;
    text-transform: uppercase;
}
.filepond--image-bitmap {
    canvas {
        z-index: 200;
    }
}