.cbo-form{
    padding: 1rem;

    .top-details,.center-details{
        justify-content: space-between;
        margin-bottom: 1.5rem;
        .group{
            input{
                margin-right:1rem;
            }
        }
    }
}