@import 'agent_profile';
@import 'forms';

.bx{
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / 20%)
}

.tabs{
    margin-top: 10rem;
    width:100%;
    height:30vh;
    display: flex;
    justify-content: space-around;
    .tab{
        width:20%;
        height: 9rem;
        border-radius: 30px;
        border-bottom: 1px solid rgb(0, 128, 0);
        box-shadow: 0px 5px 12px 5px rgba(0, 0, 0, 0.10);
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        i {
                font-size: 3rem;
                color: rgb(138, 219, 17);
            }
        p{
            font-size: 1.3rem;
        }
        span{
            margin: 0 0.5rem;
            font-size: 1.3rem;
            color:rgb(92, 153, 100);
        }
        transition: 0.4s ease-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.graphs{
    height:80vh;
    padding: 0 2%;
    justify-content: space-between;

    .graph{
        width:15rem;
        height:50vh;
    }
    .left-graph {
        height: 100%;
        padding-top: 1rem;
        border-radius: 30px;
        height: 100%;
        .key {
        
            .germination,
            .survival,
            .motarity {
                margin-top: 1rem;
                font-weight: 549;
                span {
                    height: 20px;
                    width: 20px;
                    border-radius: 50px;
                    margin-right: 10px;
                }
            }
    
            .germination {
                span {
                    background: rgb(25, 214, 19);
                }
            }
    
            .survival {
                span {
                background: rgb(255, 153, 0);
                }
            }
    
            .motarity {
                span {
                    background: rgb(224, 20, 5);
                }
            }
        }
    }

    .right-graph{
        width: 65% !important;
        height:100%;
        h2 {
            margin-bottom: 2rem !important;
        }
    }
}