<!-- Header section -->
<header>
    <div class="logo w-10 flex ac jc" id="logo">
        <img src="images/logo.png" alt="">
    </div>

    <div class="menu-btn flex f-col ac jc">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>

    <nav class="menu">
        <ul class="menu-nav">
            <li class="nav-item current">
                <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="/cbos" class="nav-link">CBOs</a>
            </li>

            <li class="nav-item">
                <a href="/reports" class="nav-link">Reports</a>
            </li>

            <li class="nav-item">
                <a href="requests" class="nav-link">Requests</a>
            </li>

            <li class="nav-item">
                <a href="contacts.html" class="nav-link">contacts</a>
            </li>
        </ul>
    </nav>
</header>
<!-- Header section end-->