<h1 class="mt-5">New Assessment</h1>
<form action="/assessments" method="post" class="flex f-col">    
    <%- include('_assessment_form') %> 
    <div class="buttons flex w-40">
        <button type="submit" class="bx">Create</button>
        <a href="/assessments" class="bx">Cancel</a>
    </div>
</form>