<h1 class="mt-5">New Facilitator</h1>
<form action="/reports" method="post" enctype="multipart/form-data" class="flex f-col">    
    <%- include('_report_form') %> 
    <div class="buttons flex w-40">
        <button type="submit" class="bx">Create</button>
        <a href="/reports" class="bx">Cancel</a>
    </div>
</form>