<label for="name">Full Name</label>
<input type="text" name="name">

<label for="phone">Phone</label>
<input type="text" name="phone">

<label for="email">Email</label>
<input type="text" name="email">

<label for="password">Password</label>
<input type="text" name="password">