<h1>New Facilitator</h1>

<form action="/team" method="post" class="flex f-col">    
    <%- include('_team_form') %> 
    <button type="submit">Create</button>
    <a href="/team" style="background-color: #000;">Cancel</a>
</form>