<h1 class="mt-5">New Facilitator</h1>
<form action="/team" method="post" enctype="multipart/form-data" class="flex f-col">    
    <%- include('_team_form') %> 
    <div class="buttons flex w-40">
        <button type="submit" class="bx">Create</button>
        <a href="/team" class="bx">Cancel</a>
    </div>
</form>