

<section class="bg w-100 h-100">
    <img src="../images/person_1.jpg" alt="">
    <div class="overlay w-100"></div>
</section>

<section class="profile-top-cover w-100 flex f-col ac jc">
    <h1><%= agent.name %></h1>
    <p class="tag">Field Officer</p>

    <div class="profile-top flex bx ac jc w-80">
        <div class="avatar-cover w-40">
            <div class="avatar w-100">
                <img src="../images/person_1.jpg" alt="">
            </div>
        </div>
        <div class="contact-details flex f-col w-40"> 
            <h2>Contact Details</h2>           
            <p><span class="icon icon-envelope-open"></span> <%= agent.email %></p>
            <p><span class="icon icon-phone"></span> <%= agent.phone %></p>
            <p><span class="icon icon-map-marker"></span> Chingale</p>
        </div>
    </div>
</section>

<section class="work-details flex mt-5 w-100">

    <div class="reports w-30 flex f-col bx">
        <h2>Reports sent </h2>

        <div class="report flex">
            <span class="icon icon-bar-chart"></span>
            <div class="group flex f-col">                
                <p>Field Report</p>
                <small>Sent on: 12 dec 2022</small>
            </div>
        </div>
        <div class="report flex">
            <span class="icon icon-bar-chart"></span>
            <div class="group flex f-col">
                <p>Field Report</p>
                <small>Sent on: 12 dec 2022</small>
            </div>
        </div>
        <div class="report flex">
            <span class="icon icon-bar-chart"></span>
            <div class="group flex f-col">
                <p>Field Report</p>
                <small>Sent on: 12 dec 2022</small>
            </div>
        </div>

        <a href="../reports" class="view-all">View all</a>
    </div>

    <div class="requests w-40 bx flex f-col ac jc">
        <div class="overlay icon icon-help"></div>
        <h2>Requests</h2>
        <h3>20</h3>
        <p>requests this month</p>
    </div>
</section>