<label for="name">C.B.O Name</label>
<input type="text" name="name" value="<%= cbo.name %>">

<label for="name">location</label>
<input type="text" name="location">

<label for="name">Members</label>
<input type="text" name="members">

<label for="name">Chairman</label>
<input type="text" name="chairman">