<h1 class="mt-10">New CBO</h1>

<form action="/cbos" method="post" enctype="multipart/form-data" class="flex f-col">    
    <%- include('_cbo_form') %> 
    <button type="submit">Create</button>
    <a href="/cbos" style="background-color: #000;">Cancel</a>
</form>